#raphael-score {
  position: absolute;
  left: 0;
  width: 100%;

  &:before {
    position: fixed;
    content: attr(data-timestamp);
    width: 100%;
    border-bottom: 1px solid red;
  }

  margin-bottom: 80vh;
}