<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ page.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ page.title }} &mdash; {{ page.website }}</title>
  <meta name="description" content="{{ page.description }}">

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/4940cf42-1dc3-46df-8141-21b67279e1de.css"/>
  <link rel="stylesheet" media="only all" href="/templates/dist/styles/style.css">
  <!--[if (lt IE 9) & (!IEMobile)]><link rel="stylesheet" href="/templates/css/ie.css"><![endif]-->
  <!--[if IEMobile]><link rel="stylesheet" href="/templates/css/ie-mobile.css"><![endif]-->

</head>
<body>
  <header>
  {% block header %}
    <h1><a href="/">{{ page.website }}</a></h1>
    <nav>
      <ul>
    {% for root in page.root %}
        <li><a href="{{ root.url }}">{{ root.title }}</a></li>
    {% endfor %}
      </ul>
    </nav>
  {% endblock %}
  </header>

  <div id="sidebar">
  {% block sidebar %}
    {% include 'partials/sidebar-nav.html' %}
  {% endblock %}
  </div>

  <div role="main">
  {% block main %}{% endblock %}
  </div>

  <footer>
  {% block footer %}{% endblock %}
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/templates/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
  <!--<script src="/templates/js/vendor/pdf.js"></script>-->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

  <script src="/templates/dist/scripts/plugins.js"></script>
  <script src="/templates/dist/scripts/raphael-score.js"></script>
  <script src="/templates/dist/scripts/main.js"></script>

</body>
</html>
