{% extends "base.html" %}

{% block sidebar %}
{% set page = get('/phantom-railings') %}
  <nav>
    <ul>      
  {% for child in page.children %}
    <li {% if child.is_current %}class="active"{% endif %}>
      <a href="{{ child.url }}">{{ child.title }}</a>
      {% include 'partials/children.html' with { 'page' : child } %}
    </li>
  {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block main %}

  <article id="{{ page.slug }}">
    <h1>{{ page.title }}</h1>

    <div class="content">
    {{ page.content }}
    {% include 'partials/assets/media.html' %}

    </div>
  </article>

{% endblock %}