{% extends "base.html" %}

{% block main %}

  <div class="score">

  {{ page.content }}

    <div class="canvas">
      <h1>Bridge</h1>
      <canvas id="workshop-canvas-01" width="645" height="150" style = "background-color:FFF;">
        Your browser does not support the canvas element.
      </canvas>
    </div>

    <div class="canvas">
      <h1>Pavement</h1>

      <canvas id="workshop-canvas-02" width="645" height="150" style = "background-color:FFF;">
        Your browser does not support the canvas element.
      </canvas>
    </div>


    <div class="canvas">
      <h1>Stairs</h1>

      <canvas id="workshop-canvas-03" width="645" height="150" style = "background-color:FFF;">
        Your browser does not support the canvas element.
      </canvas>
    </div>


  </div>


{% endblock %}